.title {
  grid-area: title;
}

.form-row {
  grid-area: form-row;
  grid-column-start: 2;
  grid-column-end: 3;

  input {
    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button {
      opacity: 1;
    }
  }

  fieldset {
    input {
      margin-left: 15px;
    }
  }

  form {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;

    div {
      width: max-content;
      padding-bottom: 10px;
      grid-column-start: 1;
      grid-column-end: 4;

      &:last-child {
        grid-column-start: 2;
        grid-column-end: 4;
      }
    }

    fieldset {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto auto;
      justify-content: flex-start;
    }
  }
}

.pw-row {
  grid-area: btn-row;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  display: grid;
  grid-template-areas: 'pw cp';

  .pw-span {
    padding-right: 10px;
    display: flex;
    align-items: center;
    grid-area: pw;
    display: flex;
    justify-content: flex-end;
    overflow-wrap: anywhere;
  }

  .copy-span {
    font-size: 1.5rem;
    grid-area: cp;
    visibility: hidden;
    cursor: pointer;
  }
}

.container {
  width: 350px;
  display: grid;
  grid-template-areas:
    'title title title'
    'form-row form-row form-row'
    'pw-row pw-row pw-row';

  .title {
    text-align: center;
  }
}
