.title {
  grid-area: title;
}

.form-row {
  grid-area: form-row;
  grid-column-start: 2;
  grid-column-end: 3;

  input {
    margin-left: 15px;

    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button {
      opacity: 1;
    }
  }
}

.pw-row {
  grid-area: btn-row;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 10px;
  width: 100%;
  margin-top: 15px;
  display: grid;
  grid-template-areas: 'pw cp';

  .pw-span {
    padding-right: 10px;
    display: flex;
    align-items: center;
    grid-area: pw;
    display: flex;
    justify-content: flex-end;
    overflow-wrap: anywhere;
  }

  .copy-span {
    font-size: 1.5rem;
    grid-area: cp;
    visibility: hidden;
    cursor: pointer;
  }
}

.container {
  width: 350px;
  display: grid;
  grid-template-areas:
    'title title title'
    'form-row form-row form-row'
    'pw-row pw-row pw-row';

  .title {
    text-align: center;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;

    &:hover {
      .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
    }

    .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: #555;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;

      /* Position the tooltip text */
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -60px;

      /* Fade in tooltip */
      opacity: 0;
      transition: opacity 0.3s;

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
    }
  }

  .btn {
    margin-left: 1rem;
  }
}
